@namespace Dotnetydd.OtlpDevDashboard.Components
@using System.Text
@using Dotnetydd.OtlpDevDashboard.ConsoleLogs
@using Dotnetydd.OtlpDevDashboard.Model
@using System.Collections.Concurrent
@inject IJSRuntime JS
@implements IAsyncDisposable

<div class="log-overflow">
    <div class="log-container" id="logContainer">
    </div>
</div>