@using Dotnetydd.OtlpDashboard.Resources
@namespace Dotnetydd.OtlpDashboard.Components
@inject IStringLocalizer<ControlsStrings> Loc

<div id="plotly-chart-container" style="width:650px; height:450px"></div>
